@charset "utf-8";

/* 
  Avoid global selectors like the 'button' example below.
  Global selectors include the universal selector (*),
  element slectors such as 'p', 'button', and 'h1',
  and attribute selectors such as [type=checkbox].
*/
button {
  background: #ffc107;
  border: 1px outset #ff9800;
  display: block;
  font: bold 16px / 1.5 sans-serif;
  margin: 1rem auto;
  width: 50%;
  padding: 0.5rem;
}
/* Commented out from improvements (see below) */
/*
.close {
  background: #e00;
  border: 2px solid #000;
  color: #fff;
  display: inline-block;
  margin: 0;
  font-size: 12px;
  font-weight: normal;
  line-height: 1;
  padding: 5px;
  border-radius: 100px;
  width: auto;
}
*/

/* Preferred method (avoiding global selectors) */
.default {
  background: #ffc107;
  border: 1px outset #ff9800;
  display: block;
  font: bold 16px / 1.5 sans-serif;
  margin: 1rem auto;
  width: 50%;
  padding: 0.5rem;
}

.close {
  background: #e00;
  border: 2px solid #fff;
  color: #fff;
  font-size: 12px;
  padding: 5px;
  border-radius: 100px;
}

/* 
  Avoid overly specific selectors. When you add a class
  name to an element, the rules for the selector take
  precedence over more generic-type selector rules.
*/
/* Specificity of 0, 0, 1 */
p {
  color: #222;
  font-size: 12px;
}

/* Specificity of 0, 1, 0 */
.error {
  color: #a00;
}

/* Don't chain classes */
.message {
  background: #eee;
  border: 2px solid #333;
  border-radius: 1em;
  padding: 1em;
}

/* Problematic */
/*
.message.error {
  background: #f30;
  color: #fff;
}
*/

/* Preferred (no chaining) */
.error {
  background: #f30;
  color: #fff;
}

/* Yello error message */
/*
.error {
  background: #ff0;
  border-color: #fc0;
}
*/