<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Example Twelve</title>
  </head>
  <body>
    <div ng-app="FormApplication" ng-controller="InputController">
      <!-- ng-options was made specifically for dropdown lists for options -->
      <select ng-model="selectedOption" ng-options="o for o in options"></select>
      <h1>You selected: {{selectedOption}}</h1>
      <br>
      <select ng-model="selectedNumeral" ng-options="x for (x, y) in romanNumerals"></select>
      <h1>You selected: {{selectedNumeral}}</h1>
      
      <form>
        <label>Pick a topic:</label><br>
        <input type="radio" ng-model="myColor" value="red">Red
        <input type="radio" ng-model="myColor" value="green">Green
        <input type="radio" ng-model="myColor" value="blue">Blue
        <input type="radio" ng-model="myColor" value="yellow">Yellow
      </form>
      <h3>The color you chose was: {{myColor}}</h3>
      <br>
      <form novalidate>
        <label>First Name</label><br>
        <input type="text" ng-model="user.firstName"><br>
        <label>Last Name</label><br>
        <input type="text" ng-model="user.lastName">
        <br><br>
        <button ng-click="reset()">Reset</button>
      </form>
      <p>
        form = {{user}}
      </p>
      <p>
        master = {{master}}
      </p>
      <br>
      <form name="myForm">
        <label>Input is valid when non-empty</label>
        <br>
        <input type="text" name="myInput" ng-model="myInput" required><br>
        <label>Input is invalid when touched and left empty</label>
        <br>
        <input type="text" name="myRequiredInput" ng-model="myRequiredInput" required>
        <span ng-show="myForm.myRequiredInput.$touched && myForm.myRequiredInput.$invalid">The name is required.</span>
      </form>
      <p>
        The input's valid state is: <strong>{{myForm.myInput.$valid}}</strong>
      </p>
    </div>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js"></script>
    <script>
      var application = angular.module("FormApplication", []);
      application.controller("InputController", function($scope) {
        $scope.selectedOption = "None";
        $scope.defaultOption = "Select";
        $scope.options = ["Red", "Green", "Blue", "Yellow"];
        
        // Example with object options
        $scope.romanNumerals = {
          i: "one",
          ii: "two",
          iii: "three",
          iv: "four",
          v: "five"
        }

        $scope.myColor = "None";
        $scope.selectedNumeral = "None";
        
        $scope.master = {
          firstName: "John",
          lastName: "Doe"
        }
        
        $scope.reset = function () {
          $scope.user = angular.copy($scope.master);
        };
      });
    </script>
  </body>
</html>