<!doctype html>
<html lang="en" ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <title>Finance Meter</title>
  </head>
  <body ng-controller="FinanceController">
    
    <!-- Enter the salary amount -->
    <label>Your salary?</label>
    <input type="text" ng-model="salary"><br>
    
    <!-- Enter the investment amount for gadgets -->
    <label>How much should you invest in gadgets?</label>
    <input type="text" ng-model="percentage">%<br>
    
    <!-- Compute the total based on salary -->
    <label>The amount you should spend on gadgets is:</label>
    <!-- Apply the currency filter for formatting -->
    <span>{{result() | currency}}</span>
    
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js"></script>
    <script src="app.js"></script>
    <script src="controllers.js"></script>
  </body>
</html>