<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Marionette Contact Manager</title>
    <link rel="stylesheet" href="./assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="./assets/css/application.css" />
  </head>
  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <span class="brand">Contact Manager</span>
        </div>
      </div>
    </div>

    <div id="app-container">
      <div id="main-region" class="container">
        <p>
          Here is static content for the webpage. It will be replaced by the app
          once the app has loaded.
        </p>
      </div>
    </div>

    <!-- Templates -->
    <script type="text/template" id="static-template">
      <p>
        This is the text that was rendered by the Marionette app.
      </p>
    </script>

    <script type="text/template" id="contact-list-item">
      <%= firstName %> <%= lastName %>: <%= phoneNumber %>
    </script>

    <script src="./assets/js/vendor/jquery.min.js"></script>
    <script src="./assets/js/vendor/json2.min.js"></script>
    <script src="./assets/js/vendor/underscore.min.js"></script>
    <script src="./assets/js/vendor/backbone.min.js"></script>
    <script src="./assets/js/vendor/backbone.marionette.min.js"></script>

    <script src="./assets/js/app.js"></script>
  </body>
</html>
