@charset "utf-8";

/* Descendant combinator */
form h1 {
  color: #009;
}

/* Child combinator */
form > p {
  font-size: 22px;
}

/* Adjacent Sibling combinator */
label + input {
  display: block;
  clear: both;
}

/* Universal and Type combinator */
* + fieldset {
  margin: 5em 0;
}

/* General Sibling Combinator */
label ~ input {
  display: block;
}

/* Attribute presence combinator */
[rel~=friend] {
  font-size: 2em;
  background: #eee;
  padding: 4px;
  text-decoration: none;
  border-bottom: 3px solid #ccc;
}

[rel~=friend]:link,
[rel~=friend]:visited {
  color: #34444c;
}

[rel~=friend]:hover {
  background: #ffeb3b;
  border-color: #ffc107;
}

/* Hyphenated Attribute Value combinator */
[lang|="fr"] {
  font-style: italic;
}

[lang|="fr"] q:before {
  content: '\00AB'; /* Left angle quote */
}

[lang|="fr"] q:after {
  content: '\00BB'; /* Right angle quote */
}

[class|="article-promo"] {
  border-top: 5px solid #4caf50;
  color: #555;
  line-height: 1.3;
  padding-top: 0.5em;
}

[class|="article-promo"] h3 {
  color: #000;
  font-size: 1.2em;
  margin: 0;
}

[class|="article-promo"] p {
  margin: 0 0 1em;
}

[class|="article-promo-entertainment"] {
  border-top-color: deeppink;
}

[class|="article-promo-sports"] {
  border-top-color: royalblue;
}

[class|="article-promo-business"] {
  border-top-color: mediumpurple;
}