@charset 'utf-8';

/* Global Override */
* {
	margin: 0;
	padding: 0;
}

body {
	font-size: 14px;
	color: #666;
	background: #111 no-repeat;

	/* CSS3 Radial Gradients */
	background-image: -moz-radial-gradient(center -100px 45deg, circle farthest-corner, #444 150px, #111 300px);
	background-image: -webkit-gradient(radial, 50% 0, 150, 50% 0, 300, from(#444), to(#111));

	font-family: Arial, Helvetica, sans-serif;
}

#navigation li {
	list-style: none;
	height: 39px;
	padding: 2px;
	width: 40px;
}

#navigation span {
	/* Container properties */
	width: 0;
	left: 38px;
	padding: 0;
	position: absolute;
	overflow: hidden;

	/* Text properties */
	font-family: 'Myriad pro', Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: bold;
	letter-spacing: 0.6px;
	white-space: nowrap;
	line-height: 39px;

	/* CSS3 Transition */
	-webkit-transition: 0.25s;
}

#navigation a {
	/* Background sprites */
	background: url('img/navigation.jpg') no-repeat;
	height: 39px;
	width: 38px;
	display: block;
	position: relative;
}

/* Hover styling */
#navigation a:hover span {
	width: auto;
	padding: 0 20px;
	overflow: visible;
}

#navigation a:hover {
	text-decoration: none;

	/* CSS outer-glow implementation with the box-shadow property */
	-moz-box-shadow: 0 0 5px #9ddff5;
	-webkit-box-shadow: 0 0 5px #9ddff5;
	box-shadow: 0 0 5px #9ddff5;
}