@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

table {
  border-collapse: collapse;
  margin: 10px auto;
}

tr, td {
  padding: 10px;
}

tr:nth-child(2n) {
  background-color: lightgoldenrodyellow;
}