<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Example Eight</title>
    <style>
      li {
        list-style: none;
      }
      
      table {
        border: 1px solid black;
      }
    </style>
  </head>
  <body>
    <div ng-app="myApp" ng-controller="FilterController">
      <p>Original String: {{string}}</p>
      <p>String with 'uppercase' filter: {{string | uppercase}}</p>
      <br>
      <p>Original String: {{string | uppercase}}</p>
      <p>String with 'lowercase' filter: {{string | lowercase}}</p>
      <br>
      <p>Order by grade:</p>
      <ul>
        <li ng-repeat="e in elements | orderBy: 'grade'">
          Name:&nbsp;{{e.name}}&nbsp;Grade:&nbsp;{{e.grade}}&nbsp;State:&nbsp;{{e.state}}
        </li>
      </ul>
      <br>
      <p>Order by name:</p>
      <ul>
        <li ng-repeat="e in elements | orderBy: 'name'">
          Name:&nbsp;{{e.name}}&nbsp;Grade:&nbsp;{{e.grade}}&nbsp;State:&nbsp;{{e.state}}
        </li>
      </ul>
      <br>
      <p>Order by state:</p>
      <ul>
        <li ng-repeat="e in elements | orderBy: 'state'">
          Name:&nbsp;{{e.name}}&nbsp;Grade:&nbsp;{{e.grade}}&nbsp;State:&nbsp;{{e.state}}
        </li>
      </ul>
      <br>
      <p>Before 'currency' filter: {{price}}</p>
      <p>After 'currency' filter: {{price | currency}}</p>
      <br>
      <p>Filter elements by states starting with V:</p>
      <ul>
        <li ng-repeat="e in elements | filter: 'V'">
          {{e.state}}
        </li>
      </ul>
      <br>
      <p>Filter array by input:</p>
      <input type="text" ng-model="test">
      <ul>
        <li ng-repeat="n in names | filter: test">
          {{n}}
        </li>
      </ul>
      <br>
      <p>Sortable table (click on headers to sort by them):</p>
      <table>
        <tr>
          <th ng-click="orderBy('name')">Name</th>
          <th ng-click="orderBy('grade')">Grade</th>
          <th ng-click="orderBy('state')">State</th>
        </tr>
        <tr ng-repeat="e in elements | orderBy: myOrder">
          <td>{{e.name}}</td>
          <td>{{e.grade}}</td>
          <td>{{e.state}}</td>
        </tr>
      </table>
      <br>
      <p>Colors without the custom 'titlecase' filter:</p>
      <ul>
        <li ng-repeat="c in colors">{{c}}</li>
      </ul>
      <p>Colors with the custom 'titlecase' filter:</p>
      <ul>
        <li ng-repeat="c in colors">{{c | titlecase}}</li>
      </ul>
    </div>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js"></script>
    <script>
      var application = angular.module("myApp", []);
      application.controller("FilterController", function ($scope) {
        $scope.string = "hello world";
        $scope.elements = [
          {name: "John", grade: 98, state: "VA"},
          {name: "Sally", grade: 83, state: "WI"},
          {name: "Doris", grade: 100, state: "VT"},
          {name: "Dennis", grade: 91, state: "CA"},
          {name: "James", grade: 76, state: "CA"}
        ];
        $scope.price = 123.45;
        $scope.names = [
          "Allan", "Jerry", "Henry", "Dylan", "Alex", "Robert", "Chris", "Sarah", 
          "Janice", "Mike", "Terry", "Zena", "Mark", "Xander", "Quentin", "Mara"
        ];
        
        $scope.colors = ["red", "green", "blue", "yellow"];
        
        $scope.orderBy = function (x) {
          $scope.myOrder = x;
        }
      });
      
      application.filter("titlecase", function () {
        return function (x) {
          var output = "",
            current,
            i;
          
          for (i = 0; i < x.length; i += 1) {
            current = x[i];
            if (i === 0) {
              current = current.toUpperCase();
            }
            output += current;
          }
          return output;
        }
      });
    </script>
  </body>
</html>