<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Example Five</title>
  </head>
  <body>
    <div ng-app="myApp" ng-controller="myCtrl">
      <h1 ng-click="changeText()">{{oldText}}</h1>
      <br>
      <ul>
        <li ng-repeat="n in names">{{n.name}}&nbsp;({{n.company}})</li>
      </ul>
    </div>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js"></script>
    <script>
      var application = angular.module("myApp", []);
      application.controller("myCtrl", function ($scope) {
        $scope.oldText = "Old Text";
        $scope.newText = "New Text";
        $scope.changeText = function () {
          $scope.oldText = $scope.newText;
        }
        
        $scope.names = [
          {name: "Bill Gates", company: "Microsoft"},
          {name: "Steve Jobs", company: "Apple"},
          {name: "Mark Zuckerberg", company: "Facebook"}
        ];
      });
    </script>
  </body>
</html>