@charset "utf-8";

* {
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  height: 100px;
  font: bold 36px/120% Arial, Helvetica, sans-serif;
  text-align: center;
  background: #333;
  color: #c00;
  text-transform: uppercase;
  padding-top: 15px;
}