@charset "UTF-8";

#square {
  width: 100px;
  height: 100px;
  background-color: blue;
  animation-name: squareFade;
  animation-duration: 3s;
  animation-delay: 1s;
}

#circle {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  background-color: red;
  animation-name: circleShrink;
  animation-duration: 1s;
  animation-delay: 1s;
}

@keyframes squareFade {
  0% {opacity: 1}
  100% {opacity: 0}
}

@keyframes circleShrink {
  0% {
    width: 100px;
    height: 100px;
  }
  100% {
    width: 0;
    height: 0;
  }
}
