<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>CSS Layout Examples</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <div class="wrapper">
      <article>
        <h2>This is a headline</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing
        </p>
      </article>
      <aside>
        <h2>This is a secondary headline</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing
        </p>
      </aside>
    </div>
  </body>
</html>