@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#battery-container {
  width: 300px;
  height: 80px;
  /* border-radius: 24px; */
  border: 2px solid black;
  margin: 5px auto;
}

#capacity-container {
  width: 95%;
  height: 62.5px;
  /* border-radius: 24px; */
  border: 2px solid black;
  margin: 5px auto;
  animation: deplete 5s 1s;
}

@keyframes deplete {
  0% {
    width: 100%;
    background-color: green;
  }

  25% {
    width: 75%;
    background-color: yellow;
  }

  50% {
    width: 50%;
    background-color: orange;
  }

  75% {
    width: 25%;
    background-color: red;
  }

  100% {
    width: 0;
  }
}
